@model BudgetMe.Client.Models.Member

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MemberLayout.cshtml";
}



    <div>
        <h2>@Model.FirstName @Model.LastName ' s Home Page</h2>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Budget (In Dollars)</h3>
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.Budget.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.Name)
                            </dd>
                            <dt>
                                Total Monthly Income:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.TotalMonthlyNetIncome)
                            </dd>
                            <dt>
                                After Bills:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.RemainderAfterBill)
                            </dd>
                            <dt>
                                After Saving:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.RemainderAfterGoals)
                            </dd>
                            <dt>
                                Remainder:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Budget.RemainderAfterExpenses)
                            </dd>
                        </dl>
                    </div>
                        <div class="col-md-4">

                        <div id="chart2"></div>
                     
                         </div>
           
            </div>
                    
        </div>
    </div>








            @section scripts{
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);


        function drawChart() {

            let bills = @Model.Budget.TotalMonthlyNetIncome - @Model.Budget.RemainderAfterBill;
            let goals = @Model.Budget.RemainderAfterBill - @Model.Budget.RemainderAfterGoals;
            let expenses = @Model.Budget.RemainderAfterBill - @Model.Budget.RemainderAfterExpenses;
            let remainder = @Model.Budget.RemainderAfterExpenses;




           var data2 = google.visualization.arrayToDataTable([
          ['Expenses', 'Amount'],
          ['Bills', bills],
          ['Goals',      goals],
          ['Expenses',  expenses],
          ['Remainder', remainder],
        ]);

            var option = {
                title: 'Budget Pie Chart',
                width: 400,
                height: 400,
                backgroundColor: 'transparent',
                legend: {textStyle: {color: 'green'}}
            };

        option.is3D = true;
            chart = new google.visualization.PieChart(document.getElementById('chart2'));
            chart.draw(data2, option);

        }
                </script>
  }